<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.0.0" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.63.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.63.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.63.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.63.0.3148" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
</packages>